<div class="container">

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">{{calculatorData.baseTable.pretFactura.name}}</th>
          <th scope="col">{{calculatorData.baseTable.putereInstalataNecesara.name}}</th>
          <th style="width: 25%" scope="col">{{calculatorData.baseTable.nrPanouri.name}}</th>
          <th style="width: 25%" scope="col">{{calculatorData.baseTable.supNecesar.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input [(ngModel)]="calculatorData.baseTable.pretFactura.value" placeholder="Introduceti pretul facturii" [maxlength]=7 (input)="refresh()" style="background-color: #FFFF99">RON</td>
          <td>{{calculatorData.baseTable.putereInstalataNecesara.value| number: '1.0-2'}}</td>
          <td>{{calculatorData.baseTable.nrPanouri.value| number: '1.0-2'}}</td>
          <td>{{calculatorData.baseTable.supNecesar.value| number: '1.0-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th style="width: 30%">Putere instalata</th>
          <th>kWh</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{calculatorData.putereInstalataSection.perOra.name}}
          </td>
          <td>
            {{calculatorData.putereInstalataSection.perOra.value | number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.putereInstalataSection.perLuna.name}}
          </td>
          <td>
            {{calculatorData.putereInstalataSection.perLuna.value | number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.putereInstalataSection.perAn.name}}
          </td>
          <td>
            {{calculatorData.putereInstalataSection.perAn.value | number: '1.0-2'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th style="width: 40%">Ecologic</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            {{calculatorData.ecologicSection.co2Salvat.name}}
          </td>
          <td>
            {{calculatorData.ecologicSection.co2Salvat.value| number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.ecologicSection.copaciSalvati.name}}
          </td>
          <td>
            {{calculatorData.ecologicSection.copaciSalvati.value| number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.ecologicSection.becuriAlimentate.name}}
          </td>
          <td>
            {{calculatorData.ecologicSection.becuriAlimentate.value| number: '1.0-2'}}
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th colspan="5">Estimare energie si economii</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let month of calculatorData.estimareTable.luni">
          <td width="10%">{{month.name}}</td>
          <td width="20%">{{month.valueKwh | number: '1.0-0'}}</td>
          <td width="35%">kWh</td>
          <td width="20%">{{month.valueEco | number: '1.0-0'}}</td>
          <td>RON</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col" style="width: 50%">
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="graphData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>

    </div>
  </div>
</div>

