<div class="container">

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th scope="col">{{calculatorData.baseTable.pretFactura.name}}</th>
          <th scope="col">{{calculatorData.baseTable.putereInstalataNecesara.name}}</th>
          <th style="width: 25%" scope="col">{{calculatorData.baseTable.nrPanouri.name}}</th>
          <th style="width: 25%" scope="col">{{calculatorData.baseTable.supNecesar.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input [(ngModel)]="calculatorData.baseTable.pretFactura.value" placeholder="Introduceti pretul facturii" [maxlength]=7 (input)="refresh()" style="background-color: #FFFF99">RON</td>
          <td>{{calculatorData.baseTable.putereInstalataNecesara.value| number: '1.0-2'}}</td>
          <td>{{calculatorData.baseTable.nrPanouri.value| number: '1.0-2'}}</td>
          <td>{{calculatorData.baseTable.supNecesar.value| number: '1.0-2'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th style="width: 30%">Putere instalata</th>
          <th>kWh</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{calculatorData.putereInstalataSection.perOra.name}}
          </td>
          <td>
            {{calculatorData.putereInstalataSection.perOra.value | number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.putereInstalataSection.perLuna.name}}
          </td>
          <td>
            {{calculatorData.putereInstalataSection.perLuna.value | number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.putereInstalataSection.perAn.name}}
          </td>
          <td>
            {{calculatorData.putereInstalataSection.perAn.value | number: '1.0-2'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th style="width: 40%">Ecologic</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            {{calculatorData.ecologicSection.co2Salvat.name}}
          </td>
          <td>
            {{calculatorData.ecologicSection.co2Salvat.value| number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.ecologicSection.copaciSalvati.name}}
          </td>
          <td>
            {{calculatorData.ecologicSection.copaciSalvati.value| number: '1.0-2'}}
          </td>
        </tr>
        <tr>
          <td>
            {{calculatorData.ecologicSection.becuriAlimentate.name}}
          </td>
          <td>
            {{calculatorData.ecologicSection.becuriAlimentate.value| number: '1.0-2'}}
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th colspan="5">Estimare energie si economii</th>
        </tr>
        </thead>

        <tfoot style="background-color: #e6f7ff">

        <tr>
          <th rowspan="3">{{calculatorData.estimareTable.medie.name}}</th>
          <th rowspan="3">{{calculatorData.estimareTable.medie.valueKwh | number: '1.0-0'}}</th>
          <th width="35%">kWh</th>
          <th >{{calculatorData.estimareTable.medie.valueEco | number: '1.0-0'}}</th>
          <th>RON</th>
        </tr>
        <tr>

          <th> Economii pe an RON</th>
          <th>{{calculatorData.estimareTable.economiiRon | number: '1.0-0'}}</th>
          <th>RON</th>
        </tr>
        <tr>

          <th> Economii pe an EUR</th>
          <th>{{calculatorData.estimareTable.economiiEur | number: '1.0-0'}}</th>
          <th>EUR</th>
        </tr>
        </tfoot>

        <tbody>
        <tr *ngFor="let month of calculatorData.estimareTable.luni">
          <td width="10%">{{month.name}}</td>
          <td width="20%">{{month.valueKwh | number: '1.0-0'}}</td>
          <td width="35%">kWh</td>
          <td width="20%">{{month.valueEco | number: '1.0-0'}}</td>
          <td>RON</td>
        </tr>
        </tbody>


      </table>
    </div>

    <div class="col" style="width: 50%">
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="graphData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th colspan="5">Amortizarea investitiei</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let row of calculatorData.amortizareTable.rows">

          <td>{{row.year}}</td>
          <td>{{row.value | number: '1.0-0'}} EUR</td>
          <!--<td width="35%">kWh</td>-->
          <!--<td width="20%">{{month.valueEco | number: '1.0-0'}}</td>-->
        </tr>
        </tbody>


      </table>
    </div>

    <div class="col">
      <ngx-charts-bar-vertical
        [scheme]="colorScheme"
        [results]="amortizareGraphData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]=false
        [showYAxisLabel]=false
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        <br/>
        <br/>
        <p>În timp ce energia la rețeaua electrică națională crește cu minim 3% pe an, costul energiei solare produse de sistemul fotovoltaic rămâne în mod constant mai redus.
          <br/>
          <b>{{1070*calculatorData.baseTable.putereInstalataNecesara.value| number: '1.0-0' }} EUR</b> investitie
          <b>{{calculatorData.amortizareTable.rows[calculatorData.amortizareTable.rows.length-1].value| number: '1.0-0' }} EUR</b> suma economisita in 20 de ani

          <br/>
        <p>Obtineti:</p>
        <ul>
          <li>Independență față de prețurile energiei electrice și furnizorii de energie.</li>
          <li>Adaptarea modelelor dvs. de consum permite economii suplimentare. </li>
          <li>Scădere majoră a costurilor energiei electrice.</li>
          <li>Costuri de operare mai mici.</li>
          <li>Energie electrică  mai ieftină din prima zi de funcționare pe întreaga durată de viață a sistemului fotovoltaic.</li>
          <li>Contribuție constructivă la procesul de combatere a încălzirii globale.</li>
        </ul>
      </div>
    </div>
  </div>



</div>

